


 <div id="info" style="display:none"> </div> 
 <div id="loading" style="display:flex">
  <div class="spinner-text"> AIYogi is powering up... </div>
  <div class="sk-spinner sk-spinner-pulse"></div> </div>
  <div id="main" style="display:none">
  <video id="video" playsinline="" 
  style="-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);display:none;"> </video> 
  <canvas id="output"> </canvas></div> <div class="footer"> 
  <div class="footer-text"> 
  <p> Brought to you by AIYogi Health. Powered by TensorFlow </p>
  </div> </div> <script src="camera.cb338cd2.js"></script>



<router-outlet></router-outlet>